@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:600,500,400,700|Inter:500,var(--footnote-medium-font-weight),400|Sora:700,600,400");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "Sifonn-Pro";
  src: url("https://anima-uploads.s3.amazonaws.com/5d6a148897ac03b9cb775293/SIFONN_PRO.otf")
    format("opentype");
}
