:root {
  --footnote-medium-font-family: "Inter", Helvetica;
  --footnote-medium-font-weight: 500;
  --footnote-medium-font-size: 14px;
  --footnote-medium-letter-spacing: 0px;
  --footnote-medium-line-height: 20px;
  --footnote-medium-font-style: normal;
  --collection-1-spacing-0: 0px;
  --collection-1-spacing-1: 4px;
  --collection-1-spacing-2: 8px;
  --collection-1-spacing-3: 12px;
  --collection-1-spacing-4: 16px;
  --collection-1-spacing-5: 20px;
  --collection-1-spacing-6: 24px;
  --collection-1-colours-neutrals-white-white-10: rgba(255, 255, 255, 0.1);
  --collection-1-colours-neutrals-white-white-20: rgba(255, 255, 255, 0.2);
  --collection-1-colours-neutrals-white-white-30: rgba(255, 255, 255, 0.3);
  --collection-1-colours-neutrals-white-white-40: rgba(255, 255, 255, 0.4);
  --collection-1-colours-neutrals-white-white-50: rgba(255, 255, 255, 0.5);
  --collection-1-colours-neutrals-white-white-60: rgba(255, 255, 255, 0.6);
  --collection-1-colours-neutrals-white-white-70: rgba(255, 255, 255, 0.7);
  --collection-1-colours-neutrals-white-white-80: rgba(255, 255, 255, 0.8);
  --collection-1-colours-neutrals-white-white-90: rgba(255, 255, 255, 0.9);
  --collection-1-colours-neutrals-white-white-100: rgba(255, 255, 255, 1);
  --collection-1-colours-neutrals-grey-grey-50: rgba(249, 250, 251, 1);
  --collection-1-colours-neutrals-grey-grey-100: rgba(243, 244, 246, 1);
  --collection-1-colours-neutrals-grey-grey-200: rgba(229, 231, 234, 1);
  --collection-1-colours-neutrals-grey-grey-300: rgba(210, 213, 219, 1);
  --collection-1-colours-neutrals-grey-grey-400: rgba(158, 162, 174, 1);
  --collection-1-colours-neutrals-grey-grey-500: rgba(109, 113, 127, 1);
  --collection-1-colours-neutrals-grey-grey-600: rgba(77, 84, 97, 1);
  --collection-1-colours-neutrals-grey-grey-700: rgba(57, 64, 80, 1);
  --collection-1-colours-neutrals-grey-grey-800: rgba(33, 41, 54, 1);
  --collection-1-colours-neutrals-grey-grey-900: rgba(19, 25, 39, 1);
  --collection-1-colours-neutrals-black-black-10: rgba(0, 0, 0, 0.1);
  --collection-1-colours-neutrals-black-black-20: rgba(0, 0, 0, 0.2);
  --collection-1-colours-neutrals-black-black-30: rgba(0, 0, 0, 0.3);
  --collection-1-colours-neutrals-black-black-40: rgba(0, 0, 0, 0.4);
  --collection-1-colours-neutrals-black-black-50: rgba(0, 0, 0, 0.5);
  --collection-1-colours-neutrals-black-black-60: rgba(0, 0, 0, 0.6);
  --collection-1-colours-neutrals-black-black-70: rgba(0, 0, 0, 0.7);
  --collection-1-colours-neutrals-black-black-80: rgba(0, 0, 0, 0.8);
  --collection-1-colours-neutrals-black-black-90: rgba(0, 0, 0, 0.9);
  --collection-1-colours-neutrals-black-black-100: rgba(0, 0, 0, 1);
  --collection-1-colours-teal-primary-50: rgba(239, 248, 248, 1);
  --collection-1-colours-teal-primary-100: rgba(203, 228, 228, 1);
  --collection-1-colours-teal-primary-200: rgba(167, 206, 206, 1);
  --collection-1-colours-teal-primary-300: rgba(135, 186, 186, 1);
  --collection-1-colours-teal-primary-400: rgba(101, 163, 163, 1);
  --collection-1-colours-teal-primary-500: rgba(71, 140, 140, 1);
  --collection-1-colours-teal-primary-600: rgba(47, 117, 117, 1);
  --collection-1-colours-teal-primary-700: rgba(26, 98, 98, 1);
  --collection-1-colours-teal-primary-800: rgba(22, 81, 81, 1);
  --collection-1-colours-teal-primary-900: rgba(19, 63, 63, 1);
  --collection-1-colours-light-orange-light-orange-50: rgba(255, 247, 223, 1);
  --collection-1-colours-light-orange-light-orange-100: rgba(252, 230, 178, 1);
  --collection-1-colours-light-orange-light-orange-200: rgba(250, 216, 145, 1);
  --collection-1-colours-light-orange-light-orange-300: rgba(246, 204, 124, 1);
  --collection-1-colours-light-orange-light-orange-400: rgba(237, 186, 90, 1);
  --collection-1-colours-light-orange-light-orange-500: rgba(225, 169, 64, 1);
  --collection-1-colours-light-orange-light-orange-600: rgba(210, 159, 52, 1);
  --collection-1-colours-light-orange-light-orange-700: rgba(186, 140, 39, 1);
  --collection-1-colours-light-orange-light-orange-800: rgba(154, 115, 31, 1);
  --collection-1-colours-light-orange-light-orange-900: rgba(122, 91, 31, 1);
  --collection-1-colours-tertiary-purple-purple-50: rgba(242, 232, 245, 1);
  --collection-1-colours-tertiary-purple-purple-100: rgba(211, 192, 220, 1);
  --collection-1-colours-tertiary-purple-purple-200: rgba(180, 155, 191, 1);
  --collection-1-colours-tertiary-purple-purple-300: rgba(153, 117, 161, 1);
  --collection-1-colours-tertiary-purple-purple-400: rgba(122, 84, 129, 1);
  --collection-1-colours-tertiary-purple-purple-500: rgba(97, 58, 102, 1);
  --collection-1-colours-tertiary-purple-purple-600: rgba(74, 44, 79, 1);
  --collection-1-colours-tertiary-purple-purple-700: rgba(52, 21, 57, 1);
  --collection-1-colours-tertiary-purple-purple-800: rgba(38, 14, 41, 1);
  --collection-1-colours-tertiary-purple-purple-900: rgba(29, 11, 31, 1);
  --collection-1-colours-highlight-dark-orange-orange-50: rgba(255, 242, 232, 1);
  --collection-1-colours-highlight-dark-orange-orange-100: rgba(
    255,
    218,
    194,
    1
  );
  --collection-1-colours-highlight-dark-orange-orange-200: rgba(
    255,
    191,
    153,
    1
  );
  --collection-1-colours-highlight-dark-orange-orange-300: rgba(
    255,
    163,
    102,
    1
  );
  --collection-1-colours-highlight-dark-orange-orange-400: rgba(255, 134, 51, 1);
  --collection-1-colours-highlight-dark-orange-orange-500: rgba(255, 103, 0, 1);
  --collection-1-colours-highlight-dark-orange-orange-600: rgba(218, 89, 0, 1);
  --collection-1-colours-highlight-dark-orange-orange-700: rgba(178, 72, 0, 1);
  --collection-1-colours-highlight-dark-orange-orange-800: rgba(124, 54, 0, 1);
  --collection-1-colours-highlight-dark-orange-orange-900: rgba(74, 35, 0, 1);
  --collection-1-colours-accent-light-green-light-green-50: rgba(
    247,
    252,
    248,
    1
  );
  --collection-1-colours-accent-light-green-light-green-100: rgba(
    233,
    245,
    235,
    1
  );
  --collection-1-colours-accent-light-green-light-green-200: rgba(
    211,
    234,
    214,
    1
  );
  --collection-1-colours-accent-light-green-light-green-300: rgba(
    187,
    222,
    193,
    1
  );
  --collection-1-colours-accent-light-green-light-green-400: rgba(
    167,
    209,
    173,
    1
  );
  --collection-1-colours-accent-light-green-light-green-500: rgba(
    145,
    196,
    153,
    1
  );
  --collection-1-colours-accent-light-green-light-green-600: rgba(
    123,
    175,
    127,
    1
  );
  --collection-1-colours-accent-light-green-light-green-700: rgba(
    108,
    145,
    111,
    1
  );
  --collection-1-colours-accent-light-green-light-green-800: rgba(
    76,
    109,
    79,
    1
  );
  --collection-1-colours-accent-light-green-light-green-900: rgba(46, 73, 49, 1);
  --spacing-button-gap: var(--primitive-size-2);
  --primitive-size-2: 8px;
  --primitive-size-3: 12px;
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-spacing-mode="regular">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-spacing-mode="regular"] {
  --spacing-button-gap: var(--primitive-size-2);
}

[data-spacing-mode="medium"] {
  --spacing-button-gap: var(--primitive-size-2);
}

[data-spacing-mode="large"] {
  --spacing-button-gap: var(--primitive-size-3);
}

[data-spacing-mode="extra-large"] {
  --spacing-button-gap: var(--primitive-size-3);
}
